body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
}

section{
	display: flex;
	margin: 10px 15px;
	padding: 5px 10px;
}


.navbar li {
	display: inline;
	text-decoration: none;
}

.navbar {
	background-color:  #FFB4B0;
	border: solid 1px salmon;
}

.blue {
	background-color:#4DD7FA;
	border: solid 1px blue;
	justify-content: space-between;
	float: left;
	max-width: 100%
	height: 40%;
	padding: 5px;
}

.btn {
    background-color: #1E90FF;
    border: solid 1px blue;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

#container {
	display: flex;
}

.listOfSongs {
	border: solid 2px #785616;
	background-color: #FEFAC0;
	flex-flow: row;
	max-width: 60%;
	margin: 4px;

}

.yellow li {
	color: #785616;
	display: inline;
}